@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("../assets/images/page-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */

  /* background-size: cover; */
}
.HEADER {
  background: url("../assets/images/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav-item-list {
  display: none;
  z-index: 10;
}

.nav-item:hover .nav-item-list {
  display: flex;
}
.MENUICON {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .CONTAINER {
    overflow-x: hidden;
  }
  .HEADER {
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .NAV {
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .MAIN {
    min-width: 100% !important;
    margin-left: 0 !important;
    gap: 1rem;
  }
  .FOOTER {
    min-width: 100% !important;
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 864px) {
  .MAIN {
    flex-direction: column;
    align-self: flex-start;
    padding: 1rem;
  }
  img {
    max-width: 90%;
  }
}

@media only screen and (max-width: 668px) {
  .MENUICON {
    display: block;
  }
  .NAVITEM {
    padding: 2rem;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    background-color: #303030;
    width: 100%;
    top: 38px;
    left: -100%;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
  }
  .NAVITEMSHOW {
    left: 0;
  }
  .nav-item-list:hover {
    background-color: transparent;
  }
  .nav-item-list {
    background-color: #303030;
    position: relative;
    top: 0;
    display: flex;
    margin-top: 1rem;
  }
}
